apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.app }}
spec:
  selector:
    matchLabels:
      app: {{ .Values.app }}
  template:
    metadata:
      labels:
        app: {{ .Values.app }}
    spec:
      volumes:
      - name: {{ .Values.app }}-data
        persistentVolumeClaim:
          claimName: {{ .Values.app }}-data
      containers:
      - name: {{ .Values.app }}
        image: {{ .Values.image.name }}:{{ .Values.image.tag }}
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: {{ .Values.port.target }}
        volumeMounts:
        - name: {{ .Values.app }}-data
          mountPath: /var/lib/postgresql/data
        env:
          - name: POSTGRES_USER
            valueFrom:
              secretKeyRef:
                name: {{ .Values.app }}-auth-secret
                key: username
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ .Values.app }}-auth-secret
                key: password
        envFrom:
          - configMapRef:
              name: {{ .Values.app }}-configmap
