apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.app }}-service
spec:
  selector:
    app: {{ .Values.app }}
  ports:
  - port: {{ .Values.port }}
    targetPort: {{ .Values.port }}
    protocol: TCP
  type: LoadBalancer
